<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col-auto">
      <h1>New Quote</h1>
      <%= render 'form', quote: @quote, author_id: @author_id %>
    </div>
  </div>
</div>