<h1>Other People's Lines</h1>

<p>Hi <%= @user.name %>,</p>
<p>Welcome to opl! <%= link_to "Click here", edit_account_activation_url(@user.activation_token, email: @user.email) %> to activate your account. </p>
