<h1>What up it's <%= Time.new.strftime('%A') %>!!</h1>

<h3 style="font-weight:lighter">"<em><%= @quote.passage %></em>" - <%= @quote.author.name %></h3>

<h4 style="font-weight:lighter">Go get it.</h4> 