<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <%= render partial: 'layouts/errors', locals: {resource: author} %>
  <% end %>

  <div class="actions">
    <%= form.text_field :name %>
    <%= form.submit %>
  </div>
<% end %>