<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col-auto">
    <h1>Editing Author</h1>
    <%= render 'form', author: @author %>
    <br>
    <%= link_to 'Remove Author', @author, method: :delete, data: { confirm: 'Are you sure? This will also remove all their quotes.' }, class: 'usa-link' %>
    </div>
  </div>
</div>