<div class="grid-container">
  <div class="grid-row">
    <h1>Browse Authors</h1>
  </div>
  <div class="grid-row">
    <table class="usa-table usa-table--borderless woof-no-top-margin">
      <tbody>
        <% @authors1.each_index do |i| %>
          <tr>
            <td><%= link_to "#{@authors1[i][:name]} - #{pluralize(@authors1[i][:quotes_count], 'quote')}", @authors1[i] %></td>
            <% if @authors2[i].present? %>
              <td></td>
              <td><%= link_to "#{@authors2[i][:name]} - #{pluralize(@authors2[i][:quotes_count], 'quote')}", @authors2[i] %></td>
            <% end %>
            <% if @authors3[i].present? %>
              <td></td>
              <td><%= link_to "#{@authors3[i][:name]} - #{pluralize(@authors3[i][:quotes_count], 'quote')}", @authors3[i] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<footer class="usa-footer usa-footer--slim sticky-footer">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <nav class="usa-footer__nav">
        <ul class="grid-row grid-gap">
          <%= paginate @authors, window: 1, outer_window: 3 %>
        </ul>
      </nav>
    </div>
  </div>
</footer>