<div class="grid-container">
  <div class="grid-row">
    <h1>Browse Authors</h1>
  </div>
  <div class="grid-row">
    <table class="usa-table usa-table--borderless woof-no-top-margin">
      <tbody>
        <% @authors_in_threes.each do |a| %>
          <tr>
            <td><%= link_to "#{a[0][:name]} (#{pluralize(a[0][:quotes_count], 'line')})", a[0], class: "author-link" %></td>
            <% if a[1].present? %>
              <td></td>
              <td><%= link_to "#{a[1][:name]} (#{pluralize(a[0][:quotes_count], 'line')})", a[1], class: "author-link" %></td>
            <% end %>
            <% if a[2].present? %>
              <td></td>
              <td><%= link_to "#{a[2][:name]} (#{pluralize(a[0][:quotes_count], 'line')})", a[2], class: "author-link" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <nav class="usa-footer__nav">
        <ul class="grid-row grid-gap">
          <%= paginate @authors, window: 1, outer_window: 3 %>
        </ul>
      </nav>
    </div>
  </div>
</footer>