<h1>Browse Authors</h1>
<% if current_user&.admin? %>
<span><%= link_to 'New Author', new_author_path %></span>
<% end %>

<table class="usa-table">
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to "#{author.name} - #{pluralize(author.quotes_count, 'quote')}", author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav">
          <ul class="grid-row grid-gap">
            <%= paginate @authors, window: 1, outer_window: 3 %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
