<h1><%=@author.name%></h1>

<% if current_user&.admin? %>
 <span><%= link_to 'Edit Author', edit_author_path(@author) %></span>
<% end %>

<table class="usa-table">
  <tbody>
    <% @author.quotes.each do |quote| %>
      <tr>
        <td>"<em><%= quote.passage%></em>"</td>
        <% if current_user&.admin? %>
          <td><%= link_to 'Edit Quote', edit_quote_path(quote) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


