<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col-auto">
      <h1><%=@author.name%></h1>

      <% if current_user&.admin? %>
      <span><%= link_to 'Edit Author', edit_author_path(@author) %></span>
      <% end %>

      <table class="usa-table usa-table--borderless">
        <tbody>
          <% @author.quotes.each do |quote| %>
            <tr>
              <td>"<em><%= quote.passage%></em>"</td>
              <% if current_user&.admin? %>
                <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>