.woof-no-top-margin {
  margin-top: 0;
}

.spacing-off-header {
  margin-top: 24px;
}

.usa-header {
  background-color: rgb(240, 240, 240);
}

form.long-input-field {
  width: 799px;
}

.usa-checkbox {
  margin-top: 24px;
}

.usa-checkbox__label{
  margin-bottom: 0;
}

a.author-link, 
a.edit-quote-link, 
a.author-from-quote-link {
  text-decoration: none;
  color: #3d4551;
}

a.author-link, 
a.edit-quote-link {
  display: block;
  padding: 0.5rem 1rem;
}

a.author-link:hover, 
a.edit-quote-link:hover, 
a.author-from-quote-link:hover {
  color: #005ea2;
}

a.author-link:hover, 
a.edit-quote-link:hover {
  background-color:#f0f0f0;
}

a.author-link:hover {
  font-weight: bold;
}

td.lil-space{
  padding: 24px
}