.woof-no-top-margin {
  margin-top: 0;
}

.static-vertical-spacing {
  margin-top: 24px;
}

td.lil-cell-space{
  padding: 24px;

  em, a{
    line-height: 1.75rem;
  }
}

input.sort-toggle{
  margin-top: 21px;
  margin-left: 21px;
}

input#search-field-big {
  max-width: none;
  width: 50%;
}

div.no-results{
  margin-top: 48px;
  margin-left: 144px;
}

.usa-header {
  background-color: rgb(240, 240, 240);
}

.usa-checkbox {
  margin-top: 24px;
}

.usa-checkbox__label{
  margin-bottom: 0;
}

span.author-options{
  margin-right: 24px;
}

a.author-link, 
a.edit-quote-link, 
a.author-from-quote-link {
  text-decoration: none;
  color: #1b1b1b;
}

a.author-link, 
a.edit-quote-link {
  display: block;
  padding: 0.5rem 1rem;
}

a.author-link:hover, 
a.edit-quote-link:hover, 
a.author-from-quote-link:hover {
  color: #005ea2;
}

a.author-link:hover, 
a.edit-quote-link:hover {
  background-color:#f0f0f0;
}

a.author-link:hover,
a.author-from-quote-link:hover{
  font-weight: bold;
}