<% if admin %>
  <% if controller == 'authors' && action == 'index'%>
    <li class="usa-nav__primary-item">
      <%= link_to "New Author", new_author_path, class: "usa-nav__link" %>
    </li>
  <% elsif controller == 'quotes' && action == 'index' %>
    <li class="usa-nav__primary-item">
      <%= link_to "New Quote", new_quote_path, class: "usa-nav__link" %>
    </li>
  <% end %>
<% end %>

<% if (controller != 'quotes' || action != 'index') %>
  <li class="usa-nav__primary-item">
    <%= link_to "Browse Quotes", quotes_path, class: "usa-nav__link" %>
  </li>
<% end %>

<% if (controller != 'authors' || action != 'index') %>
  <li class="usa-nav__primary-item">
    <%= link_to "Browse Authors", authors_path, class: "usa-nav__link" %>
  </li>
<% end %>