<% if admin %>
  <% if controller == 'authors' %>
    <li class="usa-nav__primary-item">
      <%= link_to "New Author", new_author_path, class: "usa-nav__link" %>
    </li>
  <% elsif controller == 'quotes' %>
    <li class="usa-nav__primary-item">
      <%= link_to "New Quote", new_quote_path, class: "usa-nav__link" %>
    </li>
  <% end %>
<% end %>

<% if controller != 'quotes'%>
  <li class="usa-nav__primary-item">
    <%= link_to "Browse Quotes", quotes_path, class: "usa-nav__link" %>
  </li>
<% end %>

<% if controller != 'authors'%>
  <li class="usa-nav__primary-item">
    <%= link_to "Browse Authors", authors_path, class: "usa-nav__link" %>
  </li>
<% end %>